# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=fsafadfa
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fasdfads
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=f

# Firebase Admin (you'll need to add these values)
FIREBASE_ADMIN_PROJECT_ID=f
FIREBASE_ADMIN_CLIENT_EMAIL=fad
FIREBASE_ADMIN_PRIVATE_KEY=fa
BIGQUERY_DATASET_ID=fq
ARCHIVING_SECRET_KEY=fa
# Email Configuration
EMAIL_HOST=fad
EMAIL_PORT=fda
EMAIL_SECURE=fad
EMAIL_USER=fads
EMAIL_PASSWORD=fads

# Application, used for 
NEXT_PUBLIC_APP_URL=fdsaf

# Data Archiving Configuration

# Cron schedule for data archiving
# Format: 
# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of week (0 - 6) (Sunday to Saturday)
# │ │ │ │ │
# * * * * *  command to be executed
#
# Examples:
# "0 * * * *"  - Run every hour at minute 0
# "0 0 * * *"  - Run once per day at midnight
# "0 */6 * * *" - Run every 6 hours at minute 0
# "0 12 * * *" - Run once per day at noon
DATA_ARCHIVING_CRON_TIMEZONE=fda
DATA_ARCHIVING_RUN_ON_INIT=fads
# Interval in minutes between data archiving 
DATA_ARCHIVING_INTERVAL_MINUTES=fa
